{{> navbar}}
<div class="banner"> 
<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span>0</span>4</h1>
			</div>
			<h2>La pagina no ha sido encontrada o no tiene acceso a ella</h2>
		</div>
	</div>
</div>